p {
    color: #FFFFFF;    
    padding: 5px;
    width: 100%;
    text-align: center
}

table {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

body {
    background-color: #000000;
}
